{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Student Dashboard</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand me-2" href="https://najottalim.uz/">
                    <img
                    src="{% static 'photo/logo.png' %}"
                    height="25"
                    loading="lazy"
                    style="margin-top: -1px;"
                    />
                </a>
                <button
                        data-mdb-collapse-init
                        class="navbar-toggler"
                        type="button"
                        data-mdb-target="#navbarButtonsExample"
                        aria-controls="navbarButtonsExample"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarButtonsExample">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2" href = "home/">
                            Asosiy sahifa
                        </button>
                    </ul>
                    <div class="d-flex align-items-center">
                        <button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2">
                            Login
                        </button>
                        <button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
                            Sign up for free
                        </button>
                        <a
                            data-mdb-ripple-init
                            class="btn btn-dark px-3"
                            href="https://github.com/mdbootstrap/mdb-ui-kit"
                            role="button"
                            ><i class="fab fa-github"></i
                        ></a>
                    </div>
                </div>
            </div>
        </nav>

        <main class="mt-5 mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for course in courses %}
                    <a href="{% url 'courses' course.pk %}" class="btn" >
                        <div class="col mb-4">
                            <div class="mb-5 mt-5">
                                <h5 class="card-title">{{ course.title }}</h5>
                                <ul>
                                    <li class="text-muted">Kurs turi: {{ course.course_type }}</li>
                                    <li class="text-muted">Kurs ochilgan sana: {{ course.created_at }}</li>
                                    <li class="text-muted">O`qituvchi: {{ course.teacher }}</li>
                                    <li class="text-muted">O`quvchilar soni: {{ course.student_count }}</li>
                                </ul>
                            </div>
                        </div>
                    </a> 
                {% endfor %}
            </div>
        </main>


        <footer class="bg-body-tertiary text-center">
            <div class="container p-4 pb-0">
                <section class="mb-4">
                    <a data-mdb-ripple-init class="btn text-white btn-floating m-1 btn-facebook" href="facebook.com" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a data-mdb-ripple-init class="btn text-white btn-floating m-1 btn-twitter" href="x.com" role="button">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a data-mdb-ripple-init class="btn text-white btn-floating m-1 btn-google" href="google.com" role="button">
                        <i class="fab fa-google"></i>
                    </a>
                    <a data-mdb-ripple-init class="btn text-white btn-floating m-1 btn-instagram" href="https://www.instagram.com/explore/" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a data-mdb-ripple-init class="btn text-white btn-floating m-1 btn-linkedin" href="linkedin.com" role="button">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a data-mdb-ripple-init class="btn text-white btn-floating m-1 btn-github" href="github.com" role="button">
                        <i class="fab fa-github"></i>
                    </a>
                </section>
            </div>
            <div class="text-center p-3">
                © 2020 Copyright:
                <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
        </footer>
    </div>
</body>
</html>

